.header {
    font-family: "Montserrat", sans-serif;
    display: block;
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    height: 85vh;
    background-image: linear-gradient(to left bottom, rgba($color-lt-orange, 0.6), rgba($color-primary, 0.6)), url("../assets/images/header-bg.jpeg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    @media screen and (max-width: 596px) {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @media screen and (max-width: 650px) {
        width: 80%;
    }
}
